.login, .register {
  width: 100%;
  height: 100vh;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__form--body {
    height: 50rem;
    border-radius: 0.5rem;
    background-color: rgba(#fff, 0.8);
    width: 40rem;
    text-align: center;
    padding: var(--pading-default);
    box-shadow: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-size: var(--size-heading);
      color: var(--color-black);
    }
  }
  &__btn {
    padding-top: var(--margin-default);
  }
  &__form--link {
    font-size: var(--size-small);
    &:not(:last-child) {
      margin-bottom: var(--margin-small-1);
  }
    &-span {
      color: var(--color-primary-dark);
      font-weight: 700;
      cursor: pointer;
    }

  }
}
.register{
  &__btn {
    padding-top: var(--margin-small-1);
  }
  &__form--body {
    height: 600px;
    border-radius: 0.5rem;
    background-color: rgba(#fff, 0.8);
    width: 40rem;
    text-align: center;
    padding: var(--pading-default);
    box-shadow: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-size: var(--size-heading);
      color: var(--color-black);
    }
  }
}
.page-active{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .center {
    width: 50px;
    height: 50px;
    position: relative;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  .page-active--status{
    position: absolute;
    text-align: center;
    width: 240px;
    height: 50px;
    left: -93px;
    top: 55px;
    p{
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  .refresher {
    position: relative;
  }
  .refresher svg {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .refresher svg path,
  .refresher svg polyline {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .refresher.loading .icon-refresh {
    -webkit-animation: refresh 1s infinite linear;
            animation: refresh 1s infinite linear;
  }
  .refresher .icon-success circle {
    fill: #008000;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .refresher .icon-success path {
    stroke-dasharray: 56.0029;
    stroke-dashoffset: 56.0029;
    opacity: 0;
    transition: stroke-dashoffset 350ms 100ms ease;
  }
  .refresher.success .icon-refresh {
    transform: scale(0);
  }
  .refresher.success .icon-success circle {
    transform: scale(1);
  }
  .refresher.success .icon-success path {
    stroke-dashoffset: 0;
    opacity: 1;
    transition: opacity 0s, stroke-dashoffset 0.4s;
  }
  .refresher .icon-error {
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .refresher .icon-error circle {
    fill: #ff6347;
  }
  .refresher .icon-error polyline {
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    stroke-dashoffset: 185;
    stroke-dasharray: 100;
    opacity: 0;
  }
  .refresher.error .icon-refresh {
    transform: scale(0);
  }
  .refresher.error .icon-error {
    transform: scale(1);
  }
  .refresher.error .icon-error polyline {
    opacity: 1;
    stroke-dashoffset: 200;
    transition: opacity 0s, stroke-dashoffset 0.4s;
  }
  .refresher.error .icon-error polyline:nth-child(3) {
    transition-delay: 0.25s;
  }
  button {
    margin: 10px;
  }
  @-webkit-keyframes refresh {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(359deg);
    }
  }
  @keyframes refresh {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
